.pf__home {
  display: flex;
}
.pf__home-start {
  display: flex;
  text-align: center;
}

#main-img {
  width: 100vw;
  height: 95vh;
}

.pf__home-start_content {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.pf__home-start_content h1 {
  font-size: 60px;
  color: var(--color-light1);
  margin-top: 11rem;
  margin-bottom: 0.5rem;
  letter-spacing: 5px;
}

.pf__home-start_content p {
  font-size: 50px;
  color: var(--color-light1);
  letter-spacing: 3px;
  margin-bottom: 3.5rem;
}

.pf__home-start_content-arrow {
  max-width: 70px;
  transition: transform 0.2s;
}

.pf__home-start_content-arrow:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1700px) {
  #main-img {
    width: 98.9vw;
    height: 90vh;
  }
}
